<!doctype html>

{% load static %}
<html>
    <head>
    	<meta charset="utf-8">
        <title>ParcelHub</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui.css' %}"/>
		
		<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static '/js/bootstrap.min.js' %}"></script>
		<script src="{% static '/js/jquery-ui.js' %}"></script>
		<script src="{% static '/js/popper.js' %}"></script>
	</head>
	<body>
	<script>
	</script>
          {% block jsscript %}{% endblock %}

	</body>
</html>