body
{
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
	padding-right:5px;
}
input:focus, select:focus, textarea:focus {
  background: lightgreen;
}
select
{
	width: 100px;
	height: 21px;
}
.header1 button
{
	margin-right: 15px;
}
button, input[type=submit], .link_button
{
    background-color: #2C2B62; /* Blue */
    border: none;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}
#logout_button
{
	float: right;
}
#login_button
{
	float: right;
	margin-right: -30px;
}
.headercontainer
{
	display:block;
	overflow: hidden;
	margin-bottom: 5px;
	min-width: 850px;
}
#headerimg
{
	float: right;
	background-color:#c0c0c0; 
	width:350px;
}
#emptyspace
{
	float: right;
	background-color:#c0c0c0;
	width:10px; 
	height: 46px;
}
.header, .header2
{
	display: block;
	float:left;
	margin-left:5px;
}
.header1
{
	margin-left:50px;
	float:left;
}
.container {
    overflow: hidden;
    background-color:#2C2B62;
    font-family: Arial;
    width: 99%;
    min-width: 850px;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #2C2B62;
    margin: 0px;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: #2C2B62;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    background-color: inherit;
    
    margin: 0px;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #5DBCD2;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5DBCD2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#content
{
	display: block;
	margin-top: 10px;
}
.searchform
{
	min-width: 1050px;
}
.searchform div
{
	display:inline-block;
	position: absolute:
}
.searchinput
{
	margin-left: 10px;
}
.searchform input
{
	width: 80px;
}
.searchform input[type=date]
{
	width: 130px;
}
.searchbutton
{
	margin-left:20px;
}
.table-container
{
	margin-top:10px;
}
.fieldrow
{
	height: 35px;
}
.deletebutton
{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
#changepassword label 
{
	display: block;
}
.inputtable tr th
{
	vertical-align: top;
	text-align: right;
}
.inputtable tr
{
	border: 1px solid black;
}
.inputtable selection, #sectionleft selection
{
	width: 150px;
}
.invoiceitem_container
{
	border-spacing: 0px;
	border-collapse: collapse;
	display: block;
	min-width: 1400px;
}

.item input, .item selection
{
	width: 95px;
	
}
.itemform_container
{
	height: 10px;
}
.counter_label, .counter_input
{
	float: left;
	display: inline;
	min-width: 30px;
}
.itemform_label
{
	float: left;
	display: inline;
	width: 100px;
}
.item_input, .item_input selection
{
	float: left;
	display: inline;
	width: 100px;
}
.item_input_dimensional
{
	display: none;
}
.item_input_dimensional label
{
	width: 70px;
}
 .item
{
	float:left;
	display: block;
}
.cleartag
{
	clear: both;
}
.section th
{
	text-align: right;
}
.section
{
	float: left;
}
#sectionright
{
	margin-left: 100px;
}
#invoice_container, #invoiceitemheader
{
	display: block;
	clear: both;
}
#generatestatement
{
	width: 150px;	
}
#customerselection
{
	display: block;
}
#invoicebottom
{
	margin-top: 15px;
	display: block;
	float: left;
}
#addanotheritem
{
	margin-bottom: 10px;
}
#nrOfItem
{
	display: inline-block;
    margin-left: 670px;
}
.paymentitem
{
	display: block; 
	float: left;
}
.paymentitem_container
{
	width: 550px;
}
.ui-button .ui-icon
{
	display: none;
}
#paymentbottom
{
	clear: both;
	margin-top: 10px;
	display: block;
	float: left;
}
.errorlist
{
	color: red;
}
#branchinputtble input
{
	width: 250px;
}