body
{
	width: 100%;
	height: 100%;
	background-color: #c0c0c0;
}
#parent 
{
	height: 100%;
	width: 100%;
 	margin-top: 13%;
   	display: table;
   	
}
#form_login {
   	vertical-align: middle;
   	width: 25%;
   	border-radius: 10px;
   	border: 2px solid grey;
   	min-width:270px;
}
#form_login table
{
	margin-top: 10px;
}
#form_login input
{
	margin-bottom: 10px;
}
.loginerror
{
	color: red;
}