{% extends "header.html" %}

{% block content %}
	
	<form method="post" action="">{% csrf_token %}
		<table class="inputtable">
	  		<tr>
	  			<td>User:</td>
	  			<td>{{ user.last_name }} {{ user.first_name }}</td>
	  		</tr>
	  		<tr>
	  			<td>Branch:</td>
	  			<td>
	  				<select name="branchselected">
	  					{% for branchoption in branchsel_list %}
	  						<option value="{{ branchoption.id }}" {% if currentuserba and currentuserba.branch.id == branchoption.id %} selected {% endif %}>{{ branchoption.name }}</option>
	  					{% endfor %}
	  				</select>
				</td>
	  		</tr>
	  		<tr>
	  			<td>Access level:</td>
	  			<td>
	  				<select name="access_level">
	  					{% for seloption in selectionoption %}
	  					<option value="{{ seloption }}" {% if currentuserba and currentuserba.access_level == seloption %} selected {% endif %}>{{ seloption }}</option>
	  					{% endfor %}
	  				</select>
	  			</td>
	  		</tr>
		</table>
		<input type="hidden" name="next" value="{{ next }}">
	    <input type="submit" value="Save" />
	    <a href="/parcelhubPOS/user/userbranchaccess/?user_id={{user.id}}" class="deletebutton"><button type="button">Back</button></a>
	</form>
{% endblock %}

{% include 'footer.html' %}