{% extends "header.html" %}

{% block content %}
	<form action="" method="POST" target='_blank' id="editinvoiceform">{% csrf_token %}
	<div id="invoice_container">
		<h2 id="invoicetitle">{{ invoicetitle }}</h2> 
		{{ invoice_form.non_field_errors }}
		{% for hidden_field in invoice_form.hidden_fields %}
		  {{ hidden_field.errors }}
		  {{ hidden_field }}
		{% endfor %}
	
		<table class="section" id="sectionleft">
			
			{% if invoice %}
			<tr><th>Branch.:</th><td>{{ invoice.branch.name }}</td></tr>
		  	<tr><th>Invoice No.:</th><td>{{ invoice.invoiceno }}</td></tr>
		  	<tr>
		  		<th><label for="{{ invoice_form.date.id_for_label }}">Date & time:</label></th>
		  		<td>{{ invoice.createtimestamp }}</td>
		  	</tr>
		  	{% else %}
		  	<tr>
		  		<th><label for="{{ invoice_form.date.id_for_label }}">Date & time:</label></th>
		  		<td><label id="datetimestamp"></label></td>
		  	</tr>
		  	{% endif %}
		  	<tr>
		  		<th><label for="{{ invoice_form.invoicetype.id_for_label }}">Type:</label></th>
		  		<td>{{ invoice_form.invoicetype }}</td>
		  		{% if invoice_form.invoicetype.errors %} <td>{{ invoice_form.invoicetype.errors }}</td> {% endif %}
		  	</tr>
		  	<tr>
		  		<th><label for="{{ invoice_form.customer.id_for_label }}">Customer:</label></th>
		  		<td>{{ invoice_form.customer }}
		  		{% if isedit %}
		  		<a href="/parcelhubPOS/customer/create" id="add_customer" onclick="return showAddPopup(this);">
					<img src="/static/img/add_button.png" alt="Add customer" width="20" height="20" border="0" id="add_cust_button" title="Add customer">
				</a>
				{% endif %}
				</td>
		  		{% if invoice_form.customer.errors %} <td>{{ invoice_form.customer.errors }}</td> {% endif %}
		  	</tr>
		  	<tr>
		  		<th><label for="{{ invoice_form.remarks.id_for_label }}">Remarks:</label></th>
		  		<td>{{ invoice_form.remarks }}</td>
		  		{% if invoice_form.remarks.errors %} <td>{{ invoice_form.remarks.errors }}</td> {% endif %}
		  	</tr>
		  	
		</table>
		<div>
		</div>
		
		<table class="section" id="sectionright">
	        <tr>
	        	<th >Nr of items:</th><td><label id="itemcount">1</label></td>
	        </tr>
	        <tr {% if hasgst %}{%else%}id="hideGST"{% endif %}><th>GST:</th><td><label id="gsttotal">{{ invoice_form.gst }}</label></td></tr>
	        <tr>
		  		<th><label for="{{ invoice_form.discount.id_for_label }}">Discount (F8):</label></th>
		  		<td>{{ invoice_form.discount }}</td>
		  		<td>
		  			<select name="discountoption" id="id_discountmode" oninput="UpdateTotal()">
		  				<option value="RM" {% if invoice and invoice.discountmode == "RM" %} selected {% endif %}>RM</option>
	  					<option value="%" {% if invoice and invoice.discountmode == "%" %} selected {% endif %}>%</option>
		  			</select>
		  		</td>
		  		{% if invoice_form.discount.errors %} <td>{{ invoice_form.discount.errors }}</td> {% endif %}
		  	</tr>
	        
	        <tr><th>Total:</th><td><label id="total"></label></td></tr>
	        <tr><td>&nbsp;</td><td></td></tr>
	        <tr>
		  		<th><label for="{{ invoice_form.payment.id_for_label }}" >Payment:</label></th>
		  		<td>{{ invoice_form.payment }}</td>
		  		<td>{{ invoice_form.payment_type }}</td>
		  		{% if invoice_form.payment.errors %} <td>{{ invoice_form.payment.errors }}</td> {% endif %}
		  	</tr>
	        <tr><th>Change:</th><td><label id="change"></label></td></tr>
	    </table>
	    <div data-role="popup" id=cash_confirm_popup title="Payment confirmation"> 
	    	<table>
	    		<tr>
	    			<th><label>Total:</label></th>
	    			<td><label id='confirm_total'></label></td>
	    		</tr>
	    		<tr>
	    		<th><label>Payment:</label></th>
	    		<td><label id='confirm_payment'></label></td>
	    		</tr>
	    		<tr>
	    		<th><label>Change:</label></th>
	    		<td><label id='confirm_change'></label></td>
	    		</tr>
	    	</table>
	    	
	    	
	    </div>
	    <div class="hiddenlabels">
        	<div>Sub-total:</div><div><label id="subtotal"></label></div>
        </div>
        <div class="hiddenlabels"><div>Rounding:</div><div><label id="rounding"></label></div></div>
        
	    <div id="invoicesubmit">
	    {% if isedit %}
	    	<a href="/parcelhubPOS/invoice/editinvoice/?" id="newInvoicePage" ></a>
	    	
		    <input type="button" name="action" value="Confirm" onClick="return validateAndNew()" class="invoiceConfirmNew" id="invoicesubmitbutton"/>
		    
		
		{% endif %}
		{% if invoice %}
		    <input type="submit" name="action" value="Print delivery order" id="print_do_up" onClick="return validateInvoiceItem()"/>
		    <input type="submit" name="action" value="Preview" id="print_preview" onClick="return validateInvoiceItem()"/>
		{% endif %}
		 {% if isedit %}
			<a id="add" class="addanotheritem" href="#"><button>Add another item</button></a>
		{% endif %}
		</div>
	    
	</div>
	    
    <div id="invoiceitemheader">
	    
		    <h2 class="invoice_fix_item">Invoice Items</h2>
		    
		    {{ invoice_item_formset.management_form }}
		    
		    <div class ="invoiceitem_container" >
		    {% for form in invoice_item_formset.forms %}
	            {% if forloop.first %}
	            	<div class="itemform_container invoice_fix_item">
	            		<div class="counter_label">Nr.</div>
	                {% for field in form.visible_fields %}
						{% if field.label == "Height(cm)" or field.label == "Length(cm)" or field.label == "Width(cm)"%}
						{% elif field.label == "*Description" %}
							<div class="itemform_label_description">{{ field.label_tag }}</div>
						{% elif field.label == "Zone type" or field.label == "Weight(kg)" or field.label == "Dim wt(kg)"%}
							<div class="itemform_label_small">{{ field.label_tag }}</div>
						{% elif field.label == "Zone" or field.label == "Unit" %}
							<div class="itemform_label_zone">{{ field.label_tag }}</div>
						{% else %}
		            		<div class="itemform_label">{{ field.label_tag }}</div>
		            	{% endif %}
		            		
	                    
	                {% endfor %}
	                
	                <div class="itemform_label"></div>
	               </div>
	            {% endif %}
	           
	            <div class="itemcontainer">
	            	<div class="item">
		            	<div class="counter_input"><label  class="counter">{{forloop.counter}}</label> </div>
		            	{% for field in form %}
							{% if field.label == "Height(cm)"%}
								<div data-role="popup" class="item_input_dimensional" id={{field.auto_id}}_popup title="Dimensional weight">
									<label style="margin-right:10px;">Height(cm):</label>{{ field }}
							{% elif field.label == "Length(cm)"%}
									<label style="margin-right:7px;">Length(cm):</label>{{ field }}
							{% elif field.label == "Width(cm)" %}
									<label style="margin-right:15px;">Width(cm):</label>{{ field }}
								</div>
							{% elif field.label == "*Description" %}
								<div class="item_input_description">{{ field }}</div>
							{% elif field.label == "Zone type" or field.label == "Weight(kg)" or field.label == "Dim wt(kg)"%}
								<div class="item_input_smaller">{{ field }}</div>
							{% elif field.label == "Zone" or field.label == "Unit"%}
								<div class="item_input_zone">{{ field }}</div>
							{% else %}
			            		<div class="item_input">{{ field }}</div>
			            	{% endif %}
			    		{% endfor %}
			    		{% if isedit %}<div style="" ><a class="delete" href="#" tabindex="-1"><button>Delete</button></a></div>{% endif %}
		    		</div>
	            </div>
	            

		    {% endfor %}
		    </div>
		    <div id="invoicebottom">
			    {{ postaction}}
			    <div id="nrOfItem">Nr of items:<label id="itemcount1">1</label></div> 
	    	</div>
	    </div>
	</form>
	<div id="deletediv">
		<a href="/parcelhubPOS/invoice/" class="deletebutton"><button>Back</button></a>
	</div>
{% endblock %}

{% include 'footer.html' %}