{% extends "header.html" %}

{% block content %}
	
	<form action="/parcelhubPOS/payment/editpayment/?paymentid={{ paymentid }}" method="POST">{% csrf_token %}
	{{ payment_form.non_field_errors }}
	
	<table class="paymenttable">
		<tr>
			<th>Customer:</th>
			<td>{{ payment_form.customer }}</td>
		</tr>
		<tr>
			<th>Payment type:</th>
			<td>{{ payment_form.payment_paymenttype }}</td>
		</tr>
	</table>
	<h2>Payment per invoice</h2>
    <div id="paymentitemheader">
		    
		    {{ payment_item_formset.management_form }}
		    {{ payment_item_formset.non_field_errors }}
		    <table class ="paymentitem_container">
		    {% for form in payment_item_formset.forms %}
	            {% if forloop.first %}
	            	<tr class="paymentitemform_container">
	            		<td class="counter_label_p">Nr.</td>
	            			<td class="itemform_label_p">Invoice no:</td>
	            			<td class="itemform_label_p">Total:</td>
	            			<td class="itemform_label_p">Paid amount:</td>
	            			<td class="itemform_label_p">Oustanding:</td>
	            			
	            			{% if isview %}
	            			<td class="itemform_label_p">Amt paid:</td>
	            			{% else %}
	            			<td class="itemform_label_p">Remaining:</td>
		            		<td class="itemform_label_p">Amt to pay:</td>
		            		{% endif %}
	                <td ></td>
	                </tr>
	            {% endif %}
	            <tr class="paymentitem">
	            	<td class="counter_input_p"><label  class="counter">{{forloop.counter}}</label> </td>
	            			<td class="item_input_p">{{ form.instance.invoice.invoiceno }}</td>
	            			<td class="item_input_p" id="total_{{forloop.counter}}">{{ form.instance.invoice.total }}</td>
	            			<td class="item_input_p" id="payment_{{forloop.counter}}">{{ form.instance.invoice.payment }}</td>
	            			<td class="item_input_p" > {%if isview %} <label id="outstanding_{{forloop.counter}}">{{ form.instance.remainder }}</label>{% else %}<button type="button" onclick="togglePayment('outstanding_{{forloop.counter}}')"><label id="outstanding_{{forloop.counter}}">{{ form.instance.remainder }}</label></button> {% endif %}</td>
	            			{% if isview %}
	            			{% else %}
	            			<td class="item_input_p" id="remainder_{{forloop.counter}}">{{ form.instance.remainder }}</td>
	            			{% endif %}
		            		<td class="item_input_p" id="paidamount_{{forloop.counter}}">{{ form.paidamount }}</td>
		            		<td >{{ form.id }}</td>
		    	</tr>
		    {% endfor %}
		    	<tr></tr>
		    	<tr class="paymentitem">
	            	<td class="counter_input_p"></td>
	            			<td class="item_input_p"><label id="totalpaidlabel">Total paid:</label></td>
	            			<td class="item_input_p"></td>
	            			<td class="item_input_p"></td>
	            			<td class="item_input_p"></td>
	            			{% if isview %}
	            			{% else %}
	            			<td class="item_input_p"></td>
	            			{% endif %}
		            		<td class="item_input_p"><label id="totalamt">{{ totalamt }}</label></td>
		            		<td ></td>
		    	</tr>
		    </table>
		    
	    </div>
	   
	    {%if isview %}
	    </form>
   		 <div id="paymentbottom">
		    <a href="/parcelhubPOS/payment?custid=''"><button >Back</button></a>
		 </div>
	     
    	{% else %}
    	<div id="paymentbottom">
		    <input type="submit" name="action" value="Confirm" onClick="return validatePayment()" class="paymentbutton"/> 
		    <input type="submit" name="action" value="Cancel payment" class="paymentbutton"/>
		   </div>
	</form>
    	{% endif %}
    	
	
{% endblock %}

{% include 'footer.html' %}