{% extends "header.html" %}
{% load render_table from django_tables2 %}

{% block content %}
	{{ ionvoiceitem }}
	<form class="searchform" action="" method="get" style="min-width: 1350px">
		<div >Tracking#:<input type="text" name="trackingcode" maxlength ="50" value="{{ formdata.trackingcode }}" class="searchdata"/></div>
		<div class="searchinput">Invoice#:<input type="text" name="invoicenumber" maxlength ="50" value="{{ formdata.invoicenumber }}" class="searchdata"/></div>
		<div class="searchinput">Remark:<input type="text" name="remark" maxlength ="255" value="{{ formdata.remark }}" class="searchdata"/></div>
        <div class="searchinput">From date:<input type="date" name="fromdate" value="{{ formdata.fromdate }}" class="searchdata"/></div>
        <div class="searchinput">To date:<input type="date" name="todate" value="{{ formdata.todate }}" class="searchdata"/></div> 
        <div class="searchinput">Customer:<input type="text" name="customer" maxlength ="50" value="{{ formdata.customer }}" class="searchdata"/></div>
        <input class="searchbutton" type="image" src="/static/img/search_button.png" id="searchbutton" title="Search"/> 
        <input type="image" src="/static/img/clear_button.png" id="searchbutton" title="Clear search" onclick="clearSearch()"/> 
    </form>
     
    
    {% if isedit and isall %}
    <form action="/parcelhubPOS/invoice/editinvoice/?invoiceid=">
    	<input type="submit" value="Add" />
	</form>
	{% endif %}
	{% if statusmsg %}
	<div class="statusspacing"></div>
   	<div class="statusmsg">{{ statusmsg }}</div>
    {% endif %}
	{% render_table invoice %}
	{% if isedit and isall %}
    <form action="/parcelhubPOS/invoice/editinvoice/?invoiceid=">
    	<input type="submit" value="Add" />
	</form>
	{% endif %}
{% endblock %}

{% include 'footer.html' %}
