{% extends "header.html" %}
{% load render_table from django_tables2 %}

{% block content %}
	<form class="searchform" action="/parcelhubPOS/zoneinternational/" method="get">
		<div>Courier:<input type="text" name="courier" maxlength ="50" value="{{ formdata.courier }}"/></div>
		<div>Country:<input type="text" name="country" maxlength ="50" value="{{ formdata.country }}"/></div>
		<div>Document zone:<input type="number" name="zonedoc" maxlength ="25" value="{{ formdata.zonedoc }}"/></div>
		<div>Merchandise zone:<input type="number" name="zonemer" maxlength ="25" value="{{ formdata.zonemer }}"/></div>
        <input class="searchbutton" type="image" src="/static/img/search_button.png" id="searchbutton" title="Search"/> 
        <input type="image" src="/static/img/clear_button.png" id="searchbutton" title="Clear search" onclick="clearSearch()"/> 
    </form>
    {% if isedit %}
    <form action="/parcelhubPOS/zoneinternational/editzoneinternational/?zoneinternationalid=">
    	<input type="submit" value="Add" />
	</form>
	{% endif %}
	{% if statusmsg %}
	<div class="statusspacing"></div>
   	<div class="statusmsg">{{ statusmsg }}</div>
    {% endif %}
	{% render_table zoneinternational %}
	{% if isedit %}
	<form action="/parcelhubPOS/zoneinternational/editzoneinternational/?zoneinternationalid=">
    	<input type="submit" value="Add" />
	</form>
	{% endif %}
{% endblock %}

{% include 'footer.html' %}